*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    caret-color: transparent;
}

/* Class link: https://www.youtube.com/watch?v=mm4TAzPYvm4 */

body{
    height: 400vh;
    background-color: #474545;
}

nav{
    width: 80px;
    height: 100%;
    background-color: #202020;
    box-shadow: 3px 0 1px #ff00aa;
    overflow: hidden;
    transition: 0.7s;
    position: fixed;
}

nav.menu-lateral.expandir{
    width: 300px;
}



nav .btn{
    margin: 30px 30px 0 20px;
    cursor: pointer; 
    border-radius: 50%;
    padding: 10px 40px 10px 10px;
    
    &:hover{
        box-shadow: inset 80px 0px 0px rgba(245, 245, 245, 0.219);
    }
}

nav .btn i{
    color: #fff;
    font-size: 1.8em;
    cursor: pointer;   
    
}

ul{
    height: 100%;
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

nav ul li{
    margin-top: 20px;
    height: 80px;
    line-height: 80px;
    width: 100%;
    padding-left: 25px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .4s;
    &:hover{
        background-color: #FF00AA;
    }

}

nav ul li a{
    color: white;   
}

nav ul li .bootstrap-icons{
    font-size: 1.7em;
}

nav ul li .txt-link{
    margin-left: 120px;
    font-size: 1.3em;
    color: #fff;
    opacity: 0;
    transition: .6s;
}

nav.menu-lateral.expandir .txt-link{
    opacity: 1;
    margin-left: 38px;
}

nav.menu-lateral.expandir .btn:hover{
    box-shadow: 0 0 0 transparent;
}